.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 2px;
  .list {
    margin-top: 10px;
    height: 50vh;
    width: 100%;      
    box-sizing: border-box;
  }
}
